/* Customized Material UI */

mat-card.card {
  --flex-direction: column;
  --justify-content: space-between;
  background-color: var(--gray-50);
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
}

mat-card-subtitle, .post-subtitle {
  color: black;
  font-size: clamp(0.75rem, 1vw, 1rem);
}


.mat-divider.posts {
  margin-top: 10px;
  margin-bottom: 10px;
}

.posts-container {
  --min-column-size: 20rem;
  --minmax-min: min(var(--min-column-size), 100%);
  --minmax-max: 1fr;
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(var(--minmax-min), var(--minmax-max)));
  gap: 1rem;
}

/** Flex utilities */
.posts-header-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

@media (width < 599px) {
  div.flex {
    --direction: column;
    align-items: center;

    & button {
      width: fit-content;
    }
  }
}

/** Menu items */
.menu-item-container {
  display: inline-flex;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.menu-item-text {
  margin-right: auto;
}

.menu-item-icon {
  display: flex;
}

.arrow-up {
  transform: rotate(180deg);
}


