<app-navbar></app-navbar>
<mat-sidenav-container>
  <mat-sidenav #matsidenav role="navigation" position="end" mode="over" [ngClass]="{'open': isMatSidenavOpened}">
    <ul class="posts-header-container flex-col">
      <li><a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page"
             (click)="closeMatSidenav()">Posts</a></li>
      <li><a routerLink="/topics" routerLinkActive="active" ariaCurrentWhenActive="page"
             [routerLinkActiveOptions]="{exact: true}"
             (click)="closeMatSidenav()">Topics</a></li>
      <li>
        <a
          routerLink="/me" routerLinkActive="active" ariaCurrentWhenActive="page"
          (click)="closeMatSidenav()"
          >
          <mat-icon aria-hidden="false" aria-label="Me" fontIcon="account_box" class="avatar"
                    style="font-size: 48px;
                         width: 48px;
                         height: 48px;">
          </mat-icon>
        </a>
      </li>
    </ul>
  </mat-sidenav>


  <mat-sidenav-content class="mat-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <app-footer></app-footer>
</footer>

