//.mat-sidenav-content-wrapper {
//  height: var(--content-standard-height);
//}

@media (width < 599px) {
  mat-sidenav-content.main {
    height: var(--content-mobile-height);
  }
}

//.avatar {
//  color: var(--gray-200);
//  background-color: transparent;
//  border-radius: 50%;
//  font-size: 48pt;
//  width: 48px;
//  height: 48px;
//}

a.active {
  color: var(--accent-color);

  & > .avatar {
    background-color: var(--accent-color);
  }
}

a[routerLinkActive="active"]:hover {
  opacity: 75%;
  color: var(--accent-color);

  & > .avatar {
    background-color: var(--accent-color);
  }
}

mat-sidenav ul.flex-col {
  align-items: self-end;
  margin: 0;
  height: 100%;
  padding: 1.25rem 2rem;

  & > li:not(:last-of-type) {
    font-size: 1.25rem;
    font-weight: 500;
  }

  & > li:last-of-type {
    margin-top: auto;
  }
}

///** Flex utilities */
//.flex {
//  --direction: row;
//  --justify: normal;
//  --gap: 1rem;
//  display: flex;
//  gap: var(--gap);
//  flex-direction: var(--direction);
//  justify-content: var(--justify);
//}

//.flex-col {
//  --direction: column;
//}

//.justify-start {
//  --justify: space-between;
//}
//
//.justify-between {
//  --justify: space-between;
//}


ul.flex {
  align-items: center;
  & > li:not(:last-child) {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
