<a routerLink="/posts" class="back-link">
  <mat-icon aria-hidden="false" aria-label="Back" fontIcon="arrow_back"></mat-icon>
</a>
<form *ngIf="post" class="posts-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
      <mat-card-subtitle class="post-subtitle">
        <time [dateTime]="post.created_at | date:'yyyy-MM-dd'">{{ post.created_at | date:'mediumDate' }}</time>
        <span> by {{ post.username }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>
  </mat-card>
</form>


<h3 style="padding-top: 1em;">Comments</h3>
<div class="comments-container">
  <app-post-comment *ngFor="let comment of comments" [comment]="comment"></app-post-comment>
</div>
<mat-divider></mat-divider>
<div class="new-comment-container" >
  <form *ngIf="post" (ngSubmit)="onAddCommentClick()" class="new-comment-form">
    <mat-form-field appearance="outline"
                    [ngClass]="{'mat-form-field-invalid': formControls['content'].invalid && formControls['content'].dirty}">
      <mat-label>{{ labels['content'] }}</mat-label>

      <textarea matInput rows="3"
                [formControl]="formControls['content']" (blur)="onBlur('content')"></textarea>

      <mat-error
        *ngIf="formControls['content'].invalid && formControls['content'].dirty">{{ errorMessages['content'] }}
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      [disabled]="formControls['content'].invalid"
      title="Post the new comment"
      style="background-color: transparent;
                 border: none;">
      <mat-icon aria-hidden="false"
                fontIcon="send" color="primary"

                id="new-comment-icon">
      </mat-icon>
    </button>
  </form>
</div>
