/* You can add global styles to this file, and also import other style files */

/* Theming */

@use '@angular/material' as mat;
@use './palettes.scss' as palettes;
@import "node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// Define colors
$mdd-primary: mat.define-palette(palettes.$mdd-primary-palette, 400);
$mdd-accent: mat.define-palette(palettes.$mdd-accent-palette, 400);
$mdd-warn: mat.define-palette(palettes.$mdd-warn-palette, 900);


// Define theme
$mdd-theme: mat.define-light-theme((
  color: (
    primary: $mdd-primary,
    accent: $mdd-accent,
    warn: $mdd-warn,
  )
));

$primary-color: mat.get-theme-color($mdd-theme, primary);
$accent-color: mat.get-theme-color($mdd-theme, accent);
$warn-color: mat.get-theme-color($mdd-theme, warn);

// Apply the theme to all components
@include mat.all-component-themes($mdd-theme);

:root {
  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --warn-color: #{$warn-color};
  --gray-50: #F5F5F5; // Background of post and topic cards
  --gray-100: #EEEEEE; // Background of comment
  --gray-200: #D9D9D9; // User avatar background
  --gray-700: #939393; // Placeholder text


  --mat-toolbar-standard-height: 94px;
  --mat-toolbar-mobile-height: 62px;
  --content-standard-height: calc(100vh - var(--mat-toolbar-standard-height));
  --content-mobile-height: calc(100vh - var(--mat-toolbar-mobile-height));
}

::placeholder {
  color: var(--gray-700);
}

/* Reset */

*, :before, :after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Roboto,
  "inter",
  "Helvetica Neue",
  sans-serif;
}

/** Links */
a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

/** Form errors utilities */
mat-error {
  font-size: 0.75rem;
}

/** Link */
a:hover {
  color: var(--primary-color);
}

/** MatSidenav */
.mat-sidenav-content {
  padding: 1rem;
  //height: var(--content-standard-height);
}

.mat-sidenav-content-wrapper {
  height: var(--content-standard-height);
}

/** Login and Register forms */
.mdd-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(min(60ch, 100vw));
  margin-inline: auto;
  gap: 1.5rem;
}

/** Topic cards layout */
.topics-layout {
  --grid-min-column-size: 20rem;
  --grid-column-size: min(var(--grid-min-column-size), 100%);
  --fraction-unit: 1fr;
  --grid-column-template: repeat(auto-fit, minmax(var(--grid-column-size), var(--fraction-unit)));

  display: grid;
  grid-template-columns: var(--grid-column-template);
  gap: 1rem;
  margin-top: 1rem;
}

.avatar {
  color: var(--gray-200);
  background-color: transparent;
  border-radius: 20%;

}

mat-icon .avatar {
  width: 48px;
  height: 48px;
  font-size: 48px;
}


/** Flex utilities */
.flex {
  --direction: row;
  --justify: normal;
  --gap: 1rem;
  display: flex;
  gap: var(--gap);
  flex-direction: var(--direction);
  justify-content: var(--justify);
}

.flex-col {
  --direction: column;
}

.justify-start {
  --justify: space-between;
}

.justify-between {
  --justify: space-between;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  --flex-grow: 1;
  flex-grow: var(--flex-grow);
}

/* Customized Material UI */

mat-card.card {
  --flex-direction: column;
  --justify-content: space-between;
  background-color: var(--gray-50);
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
}

mat-card-subtitle, .subtitle{
  color: black;
  padding-bottom: 0.5rem;
}

mat-divider {
  --mat-divider-color: black;
}

/* Layout */

.mat-sidenav-content-wrapper > * {
  & > main {
    --padding-page: 1rem;
    min-height: 100%;
    padding: var(--padding-page);
  }
}

/* Grid utilities */
//Inspiration for auto-grid from Kevin Powell : https://youtu.be/p3_xN2Zp1TY?si=BTdcz5FLdSmwwzZg&t=163
//.auto-grid {
//  --min-column-size: 20rem;
//  --minmax-min: min(var(--min-column-size), 100%);
//  --minmax-max: 1fr;
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(var(--minmax-min), var(--minmax-max)));
//  gap: 1rem;
//}

// Makes the logo responsive
#mdd-logo-img {
  display: block;
  max-width: 100%;
  height: auto;
}



