.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-actions {
  gap: 2rem;
  display: flex;
}

img {
  width: 550px;
  height: 318px;
}

@media (width < 599px) {
  mat-card-actions {
    flex-direction: column;
  }
  img {
    width: 80%;
    height: auto;
  }
}
